# Specify filepatterns you want to assign special attributes.

*.qc linguist-language=C

# Demos
*.dem filter=lfs diff=lfs merge=lfs -text

# Images
*.jpg filter=lfs diff=lfs merge=lfs -text
*.lmp filter=lfs diff=lfs merge=lfs -text
*.pcx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psp filter=lfs diff=lfs merge=lfs -text
*.spr filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text

# Models
*.iqm filter=lfs diff=lfs merge=lfs -text
*.md2 filter=lfs diff=lfs merge=lfs -text
*.mdl filter=lfs diff=lfs merge=lfs -text

# Sounds
*.wav filter=lfs diff=lfs merge=lfs -text
