echo "Airsay.rc v0.9 (21.10.97)"
echo "Radio communications script for AirQuake"
echo "By FM1_Echo and FM1_Bravo"
echo "Based on SayTeam.rc v1.3 by John Laessig"
echo "http://tyr.nimad.fi/~fullmoon"

alias menu  "echo F2=Targets F3=Formations F4=Orders; echo F5=HQ com  F6=Reporting; echo F7=I Have  F8=Incoming"
alias say0  "bind f1 menu;bind f2 say1;bind f3 say2;bind f4 say3;bind f5 say4;bind f6 say5;bind f7 say6;bind f8 say7"
alias menu0 "echo Message Cancelled;bind f1 menu;say0"

alias menu1 "echo Target;echo F2=Enemy base F3=Our base F4=LastTGT; echo F5=Fighters F6=Bombers; echo F7=gropos F8=AA"
alias say1a "say_team Next target enemy base;impulse 31;say0"
alias say1b "say_team Next target our base;impulse 32;say0"
alias say1c "say_team Next target Last Target;impulse 33;say0"
alias say1d "say_team Next target Fighters;impulse 34;say0"
alias say1e "say_team Next target Bombers;impulse 35;say0"
alias say1f "say_team Next target GroPos;impulse 36;say0"
alias say1g "say_team Next target Enemy AA;impulse 37;say0"
alias say1  "menu1;bind f1 menu0;bind f2 say1a;bind f3 say1b;bind f4 say1c;bind f5 say1d;bind f6 say1e;bind f7 say1f;bind f8 say1g"

alias menu2 "echo Formations;echo F2=Fol leader;echo F3=pairs F4=defend F5=scatter;echo F6=Camp F7=Patrol F8=Arrowhead"
alias say2a "say_team All follow Alpha leader;impulse 41;say0"
alias say2b "say_team Go into pairs;impulse 42;say0"
alias say2c "say_team Defensive formation;impulse 43;say0"
alias say2d "say_team Scattered formation;impulse 44;say0"
alias say2e "say_team Defend key places;impulse 45;say0"
alias say2f "say_team Patrol area;impulse 46;say0"
alias say2g "say_team Arrowhead formation;impulse 47;say0"
alias say2  "menu2;bind f1 menu0;bind f2 say2a;bind f3 say2b;bind f4 say2c;bind f5 say2d;bind f6 say2e;bind f7 say2f;bind f8 say2g"

alias menu3 "echo Order:;echo F2=Lets Attack F3=Raid F4=Mark; echo F5=Protect F6=Regroup;echo F7=withdraw F8=FLEE!!"
alias say3a "say_team Offence, Attack On My Mark;say_team Acknowledge When Positioned;impulse 51;say0"
alias say3b "say_team Raid enemy base on my Mark.;impulse 52;say0"
alias say3c "say_team Mark.;impulse 53;say0"
alias say3d "say_team All protect the convoy!;impulse 54;say0"
alias say3e "say_team Regroup at our base;impulse 55;say0"
alias say3f "say_team Systemathical withdrawal;impulse 56;say0"
alias say3g "say_team Retreat! Dispersed formation;impulse 57;say0"
alias say3  "menu3;bind f1 menu0;bind f2 say3a;bind f3 say3b;bind f4 say3c;bind f5 say3d;bind f6 say3e;bind f7 say3f;bind f8 say3g"

alias menu4 "echo HQ com ...;echo F2=Briefing F3=Takeoff F4=Landing; echo F5=Cancel F6=Emergency F7=Radars F8=Mobile radars"
alias say4a "say_team Requesting mission briefing;impulse 61;say0"
alias say4b "say_team Requesting permission to takeoff;impulse 62;say0"
alias say4c "say_team Requesting permission to land;impulse 63;say0"
alias say4d "say_team Cancelling request;impulse 64;say0"
alias say4e "say_team Emergency landing, Clear runway NOW!!!;impulse 65;say0"
alias say4f "say_team Requesting radar status;impulse 66;say0"
alias say4g "say_team Requesting mobile radar status;impulse 67;say0"
alias say4  "menu4;bind f1 menu0;bind f2 say4a;bind f3 say4b;bind f4 say4c;bind f5 say4d;bind f6 say4e;bind f7 say4f;bind f8 say4g"

alias menu5 "echo Reporting;echo F2=Spying F3=Scouting F4=Rearming; echo F5=Wait F6=Roger; echo F7=Flanking F8=ReachTGT"
alias say5a "say_team I am spying enemy communications;impulse 71;say0"
alias say5b "say_team I am scouting enemy location;impulse 72;say0"
alias say5c "say_team I am Rearming;impulse 73;say0"
alias say5d "say_team Wait for me.;impulse 74;say0"
alias say5e "say_team Roger;impulse 75;say0"
alias say5f "say_team I'm flanking the enemy;impulse 76;say0"
alias say5g "say_team I have reached the target;impulse 77;say0"
alias say5  "menu5;bind f1 menu0;bind f2 say5a;bind f3 say5b;bind f4 say5c;bind f5 say5d;bind f6 say5e;bind f7 say5f;bind f8 say5g"

alias menu6 "echo I have;echo F2=F-16 F3=F-15 F4=F-117; echo F5=A-10 F6=X-29 F7=Helicopter F8=GroPo"
alias say6a "say_team I have F-16 Dogfighter;impulse 81;say0"
alias say6b "say_team I have F-15 Fighter-bomber;impulse 82;say0"
alias say6c "say_team I Have F-117 Stealth Fighter;impulse 83;say0"
alias say6d "say_team I Have A-10 Thunderbolt;impulse 84;say0"
alias say6e "say_team I Have X-29 Fighter;impulse 85;say0"
alias say6f "say_team I Have Attack Helicopter;impulse 86;say0"
alias say6g "say_team I Have a Ground-Pounding vehicle;impulse 87;say0"
alias say6  "menu6;bind f1 menu0;bind f2 say6a;bind f3 say6b;bind f4 say6c;bind f5 say6d;bind f6 say6e;bind f7 say6f;bind f8 say6g"

alias menu7 "echo Incoming;echo F2=Enemies F3=Front F4=Behind; echo F5=Sides F6=Fighters; echo F7=Bombers F8=GroPos"
alias say7a "say_team Incoming Enemies!;impulse 91;say0"
alias say7b "say_team Incoming At Front!;impulse 92;say0"
alias say7c "say_team Incoming From Behind!;impulse 93;say0"
alias say7d "say_team Incoming From Sides;impulse 94;say0"
alias say7e "say_team Incoming Fighters!;impulse 95;say0"
alias say7f "say_team Incoming Bombers!;impulse 96;say0"
alias say7g "say_team Incoming GroPos!;impulse 97;say0"
alias say7  "menu7;bind f1 menu0;bind f2 say7a;bind f3 say7b;bind f4 say7c;bind f5 say7d;bind f6 say7e;bind f7 say7f;bind f8 say7g"
say0
